@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

:root {
  --green-100: #CDF5EE;
  --green-300: #91E9D9;
  --green-500: #5FDEC7;
  --green-700: #29CBAD;
  --green-900: #1D8E79;
  
  --gray-100: #F7F7F7;
  --gray-300: #D3D3D3;
  --gray-500: #C8C8C8;
  --gray-700: #808080;
  --gray-900: #393939;
  
  --link-blue: #2222EC;
  --black: #000000;
  --white: #FFFFFF;

  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-full: 50%;

  --pattern-hideout: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.3'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --pattern-hexagons: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --pattern-dots: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.2' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");

  --box-shadow-sm: 0px 1px 6px #00000010;
  --box-shadow-lg: 0px 0px 20px 4px #00000025;
  --background: --var(--gray-100);
}

:global(#main) {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

:global(.explainit) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 35px;
  font-family: 'Nunito Sans';
}

:global(.explainit__frame) {
  display: none;
  height: calc(100vh - 120px);
  min-height: 256px;
  max-height: 650px;
  background-color: var(--white);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-lg);
  margin-bottom: 20px;
  width: 360px;
  overflow: hidden;
  animation-duration: .3s;
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
}

:global(.explainit__frame--opened) {
  display: block;
}

.frame__inner {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.header {
  position: relative;
  background: linear-gradient(to bottom, var(--green-500), var(--green-700));
  width: 100%;
  padding: 25px 28px;
  padding-bottom: 60px;
}

.content {
  flex: 1;
  background-color: var(--gray-100);
  position: relative;
  padding: 0px 10px;
}

.content__inner {
  margin-top: -35px;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: var(--pattern-hideout);
  z-index: 1;
}

.header__close {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: var(--border-radius-md);
  background-color: #00000020;
  z-index: 10;
}

.header__close svg {
  width: 12px;
  height: 12px;
}

.header__content {
  position: relative;
  z-index: 5;
}

.title {
  font-size: 34px;
  font-weight: 700;
  color: var(--white);
}

.shortDescription {
  margin-top: .3rem;
  font-size: 15px;
  color: white;
}

.card {
  background-color: var(--white);
  border-radius: var(--border-radius-md);
  padding: 16px 15px;
  box-shadow: var(--box-shadow-sm);
  margin-bottom: 12px;
}

.card__head {
  margin-bottom: 8px;
  background-color: var(--white);
  border-radius: var(--border-radius-md);
}

.card__head h2 {
  font-weight: 600;
}

.card__content {
  font-size: 15px;
}

:global(.explainit__launcher) {
  cursor: pointer;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-full);
  background-color: var(--green-500);
  box-shadow: var(--box-shadow-lg);
}

.stack {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.stack__item {
  margin: 0 .4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stack__item svg {
  width: 28px;
}

.stack__item:first-child {
  margin-left: 0;
}

.stack__item:last-child {
  margin-right: 0;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.media__item {
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.media__item svg {
  width: 18px;
  fill: var(--gray-300);
}

.media__item:hover svg {
  width: 18px;
  fill: var(--gray-700);
}

.media__item:first-child {
  margin-left: 0;
}

.media__item:last-child {
  margin-right: 0;
}

/* Description styles */
.description h1,
.description h2,
.description h3,
.description h4,
.description h5,
.description h6 {
  font-weight: 600;
  margin-bottom: 14px;
}

.description h1,
.description h2,
.description h3 {
  margin-top: 14px;
}

.description ul {
  margin-bottom: 12px;
  padding-left: 1.7rem;
  list-style-type: disc;
}

.description a,
.description a:visited {
  color: var(--link-blue);
}

.description p {
  margin-bottom: 8px;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(35px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 460px) {
  :global(.explainit) {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  :global(.explainit__launcher) {
    width: 50px;
    height: 50px;
    margin-bottom: 14px;
    margin-right: 14px;
  }

  :global(.explainit__launcher) svg {
    width: 20px;
  }

  :global(.explainit__frame) {
    width: 100vw;
    flex-basis: 100%;
    max-height: none;
    flex: 1;
    border-radius: 0;
    margin-bottom: 0;
  }

  :global(.explainit__launcher.explainit__launcher--open) {
    display: none;
  }

  .header__close {
    display: flex;
  }
}
